body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color:hsl(24, 17%, 94%);
  color: #e96309;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background-color: hsl(24, 100%, 41%);
}

.logo {
  width: 120px;
  margin-bottom: 1rem;
}

main {
  padding: 2rem;
  background-color: #ee6911;
  color: #000000;
}

h2 {
  color: #d35400;
}

.whatsapp-button {
  display: inline-block;
  background-color: #058042;
  color: hsl(24, 100%, 41%);
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 1rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: hsl(25, 100%, 4%);
  color: hsl(24, 100%, 41%);
}
.whatsapp-float {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 100;
}

